<html>
<head>
    <title>File Generate Excel Report using Python Flask and PostgreSQL</title>
</head>
<body>


    <form action="{{ url_for('personadd')}}" method="post">
        <h5>Enter the user Details</h5>
        <div>
            <input type="text" name="name" placeholder="name">
        </div>
        
        <div>
            <label for="phone_country_code">Choose a phone_country:</label>
                <select id="phone_country_code" name="phone_country_code">
                    <option value="+91">India</option>
                    <option value="+358">Finland </option>
                    <option value="+1">Canada</option>
                    
                </select>
        </div>
        <div>
            <input type="text"  name="_phone_number"  placeholder="phone number" >
            
        </div>
        <div>
            <button >Submit</button>
        </div>

    </form>
    <a href="{{ url_for('.download_report') }}">Generate Excel Report</a>

</body>
</html>