<html>
<head>
    <title>File Generate Excel Report using Python Flask and PostgreSQL</title>
</head>
<body>


    <form action="{{ url_for('personadd')}}"  method="post">
        <h5>Enter the user Details</h5>
        <div>
            <input type="text" name="name" value ="{{request.form['name']}}" placeholder="name">
        </div>
        
        <div>
            <label for="phone_country_code">Choose a phone_country:</label>
                <select id="phone_country_code" name="phone_country_code">
                    <option value="+91">India</option>
                    <option value="+358">Finland </option>
                    <option value="+1">Canada</option>
                    
                </select>
        </div>
        <div>
            <input type="text"  name="_phone_number" pattern = "[0-9]{10}" value ="{{request.form['_phone_number']}}" placeholder="10 digit phone number" >
            
        </div>
        <div>
            <input type="number"  name="income"  value ="{{request.form['income']}}" placeholder="income" >
            
        </div>
        <div>
            <input type="number"  name="expenditure" value ="{{request.form['expenditure']}}" placeholder="expenditure" >
            
        </div>
        <div>
            <button >Submit</button>
            {% for e in errors["err"] %}
                <p>{{e}}</p>
            {% endfor %}
        </div>

    </form>
    <a href="{{ url_for('.download_report') }}">Generate Excel Report of all the succesfull entries till now</a>

</body>
</html>